<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlickrNetScreensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\FlickrScreensaver.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff} [%4thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <userSettings>
    <FlickrNetScreensaver.Properties.Settings>
      <setting name="Drawer" serializeAs="String">
        <value>Plain</value>
      </setting>
      <setting name="DrawerFillScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyIPAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationToken" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowType" serializeAs="String">
        <value>User</value>
      </setting>
      <setting name="DrawerDelayTime" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DrawerImageSize" serializeAs="String">
        <value>Medium</value>
      </setting>
      <setting name="PlainShowText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PostcardColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PostcardRandomAngle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PostcardAlternate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PostcardAngle" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowUserUsername" serializeAs="String">
        <value>Sam Judson</value>
      </setting>
      <setting name="ShowUserType" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ShowUserSet" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowUserTag" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowGroupName" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEveryoneType" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEveryoneTag" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowUserSetId" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowUserContact" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentPhotos" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEveryoneTagInteresting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="StackAngle" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StackRandomAngle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StackAlternate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StackBorder" serializeAs="String">
        <value>5</value>
      </setting>
    </FlickrNetScreensaver.Properties.Settings>
  </userSettings>
</configuration>